
.linkss{
    position: absolute;
    bottom: 8px;
    right: 16px;  
}

.img {
 
    background-image:url('../../assets/automation-testing-image.jpg') ; 
    background-size: cover;
    backdrop-filter: blur(8px);
    background-attachment: fixed;
    position: fixed;
    opacity: 0.8;
  }

 